@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body{
font-family: 'Quicksand', sans-serif;
}

.navs{
    margin-top: 10px;
}
.logo img{
    width: 50px;
}
.nav{
    margin-top: -42px;
}
.justify-content-end{
    margin-top: -32px;
}
.justify-content-end .nav-item{
   margin-left: 5px;
}
form svg{
    position: absolute;
    margin-top: 7.5px;
    margin-left: 20px;
}
 form #search-input{
    width: 150%;
    margin-left: -35px;
    border-radius: 20px;
    border-color: transparent;
    background: rgb(241, 241, 241);
    text-indent: 70px;
}
#list, #grid{
    cursor: pointer;
}
@media only screen and (max-width:320px){
   form #search-input{
        width: 140px;
        margin-left: 1px;
        text-indent: 35px;
    }
}
#sortby{
    margin-top: 20px;
    font-size: 14px;
    margin-left: 20px;
}
#sortby .form-check-labek{
    font-size: 12px;
    margin-top: -20%;
    font-weight: bold;
}
#results{
    margin-top: 3%;
}
#results h1{
margin-top: 20%;
text-align: center;
}
#list-card{
    margin-top: 10px;
    width: 100%;
    border-color: transparent;
    cursor: pointer;
}
#list-card .card-body{
    display: flex;
}
#list-card .card-body img{
    width: 80px;
   max-height: 80px;
    border-radius: 5px;
}
#list-card .content{
    margin-left: 30px;
}
#grid-card{
    border-radius: 0px;
    cursor: pointer;
}
#grid-card img{
    border-radius: 0px;
}
#grid-card #submit{
    font-size: 12px;
    margin-left: 15px;
    margin-top: 5px;
}
#grid-card #submit a{
    color: rgb(255, 89, 39);
}
#grid-card .card-title{
    font-size: 15px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: -10px;
}
#grid-card .card-body{
    margin-top: 20px;
}
#header{
    font-weight: bold;
    width: 100%;
}
#p{
    margin-top: -15px;
    color: rgb(87, 87, 87)
}
#domain{
    position: absolute;
    margin-left: 90%;
    max-width: 100px;
}
#domain .btn{
    font-size: 12px;
    font-weight: bold;
}
#domain .btn:hover{
    color: white;
    background: rgb(255, 89, 39);
    border-color: transparent;
    font-weight: bold;
}
.comment-subscribe{
    margin-top: -15px;
    font-size: 10px;
    font-weight: bold;
}
.comment-subscribe img{
    width: 15px;
}
.content a{
    color: rgb(255, 89, 39);
    font-weight: bold;
    font-size: 12px;
}
#subscribe{
    margin-left: 10px;
}
.comment-subscribe svg{
    margin-top: -4px;
}
@media only screen and (max-width:992px){

  #list-card  .card-body img{
        width: 40px;
       max-height: 50px;
        border-radius: 5px;
    }
    .content{
        margin-left: 10px;
    }
    #header{
        font-weight: bold;
        width: 100%;
        font-size: 12px;
    }
    #p{
        font-size: 12px;
        color: rgb(87, 87, 87)
    }
    #domain{
        display: none;
        position: absolute;
        margin-left: 90%;
        max-width: 100px;
    }
 }